
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
 h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}


.top{
  z-index: 10 !important;
}
  .aqcolor{
    color: rgb(0, 237, 237);
    z-index: 10 !important;
    text-shadow: 2px 2px 1px rgb(0, 87, 83);
}
 h3{
    font-size: 1.3rem;
    text-align: center;
color: white;
font-family: "Work Sans", sans-serif;
font-optical-sizing: auto;

    font-weight: 300;
}
.spline-wrapper {
    pointer-events: none; /* Disable pointer events on the Spline canvas */
  }
  
  .spline-wrapper canvas {
    pointer-events: auto; /* Re-enable pointer events on the canvas if needed */
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 128, 126, 0.1),
                  0 0 0 20px rgba(0, 128, 124, 0.1),
                  0 0 0 40px rgba(0, 128, 115, 0.1),
                  0 0 0 60px rgba(0, 128, 126, 0.1);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 128, 128, 0.1),
                  0 0 0 40px rgba(0, 119, 128, 0.1),
                  0 0 0 60px rgba(0, 128, 128, 0.1),
                  0 0 0 80px rgba(0, 128, 119, 0);
    }
  }
  
 .listenbox span {
    display: block;
    width: 200px;
    height: 200px;
    margin: 160px auto;
    animation: ripple 0.6s linear infinite;
    border-radius: 50px;
  }
  

  .headtext{
    animation: animatetext 0.5s linear forwards;
    /* color: rgb(0, 143, 143); */
  }

  @keyframes animatetext{
    0%{
      transform: translateY(20px);
opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }

  .selectfull{
    position: absolute;
    left: 80%;
    top: 70%;
    transform: translate(-50%,-50%);
  
    padding: 25px;
    border-radius: 8px;
    background:aqua;
    background: linear-gradient(44deg , rgb(54, 255, 255),rgb(17, 255, 255));
    color:black;
    font-size: 1.1rem;
    font-weight: 600;
cursor: pointer;

z-index: 200;

  }
  .selectoutline{
    position: absolute;
      left: 20%;
      top: 70%;
      transform: translate(-50%,-50%);
    
    padding: 25px;
    border-radius: 8px;
    border:2px solid aqua;
    color:rgb(0, 255, 242) !important;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    z-index: 200;
  }

  
  
  .chatque{
    color: white;
  }


  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
  }
  
  .mic {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #27e5f3;
    color: #fff;
    font-size: 33px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.25s;
  }
  
  .mic::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    z-index: -1;
  }
  
  .listening {
    background-color: #0da9d9;
  }
  
  .listening::before {
    animation: listening 1.3s infinite;
  }
  
  @keyframes listening {
    from {
      opacity: 0.25;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  .cancertype{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .cancertype div{
    padding: 15px;
    border-radius: 32px;
  }
  .cancertype div:nth-of-type(1){
    /* background-color: rgb(255, 117, 195); */
    border:2px solid rgb(255, 117, 195);
    color: rgb(255, 230, 244);
    background:rgba(255, 117, 195, 0.088) ;
  }
  .cancertype div:nth-of-type(2){
    border:2px solid rgb(241, 255, 117);
    color: rgb(252, 255, 220);
    background: rgba(241, 255, 117, 0.074);
  }
  .cancertype div:nth-of-type(3){
    border:2px solid rgb(131, 255, 117);
    color: rgb(220, 255, 216);
    background: rgba(131, 255, 117, 0.104);
  }
  .cancertype div:nth-of-type(4){
    border:2px solid rgb(217, 132, 238);
    color: rgb(245, 207, 255);
    background-color: rgba(217, 132, 238, 0.112);
  }
  .cancertype div:nth-of-type(5){
    border:2px solid rgb(241, 138, 110);
    color: rgb(255, 224, 215);
    background-color: rgba(241, 138, 110, 0.196);
  }

  .modalbox{
    height: 100vh;
    width: 100vw;
z-index: 400;
background: rgba(0, 0, 0, 0.414);
    position: fixed;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 6rem;

  }

  .modalbox .modal{
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: #fff;
    background: #000;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.259);
  }

  .modal button {
    margin: 10px;
    background: linear-gradient(57deg , rgb(2, 188, 160), rgb(7, 145, 145));
    border-radius: 8px;
    width: 6rem;
    padding: 5px;
  }

  .navbar{
    width: 100vw;
    height: 3.5rem;
    background: rgba(0, 0, 0, 0.851);
    position: fixed;
    top: 0;
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 10px;
    backdrop-filter: blur(5px);
  }